/* * {
  outline: 1px solid red;
} */

body{
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
}

main{
flex-grow: 1;
}

#MainHeader{
  height: 8vh
}

#Splash{
  height: 22vh
}

#FeaturesHeader{
  flex-grow: 1;
}
#featuresbody{
  flex-grow: 1;
}

.card{
  margin: auto;
}

.videoimage{
  height: 30vh;
  width: 100%;
  background-image: url(./work.jpg);
  background-position: center;
  background-size: cover;
}

.hidden{
  visibility: hidden;
}